// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

@import '~vuetify/src/styles/styles.sass';
$material-light: map-merge(
  $material-light,
  (
    'background':
      var(--v-background-base, map-get($material-light, 'background'))
      !important,
  )
);
$material-dark: map-merge(
  $material-dark,
  (
    'background':
      var(--v-background-base, map-get($material-dark, 'background')) !important,
  )
);

// Globals
$body-font-family: YakuHanJPs, Roboto, 'Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3', Arial, nc3Jp, sans-serif;
$border-radius-root: 12px;
$font-size-root: 14px;
