// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

@import '~vuetify/src/styles/styles.sass';
$material-light: map-merge(
  $material-light,
  (
    'background':
      var(--v-background-base, map-get($material-light, 'background')),
  )
);
$material-dark: map-merge(
  $material-dark,
  (
    'background':
      var(--v-background-base, map-get($material-dark, 'background')),
  )
);

// Globals
$body-font-family: 'DDG_ProximaNova', 'DDG_ProximaNova_UI_0',
  'DDG_ProximaNova_UI_1', 'DDG_ProximaNova_UI_2', 'DDG_ProximaNova_UI_3',
  'DDG_ProximaNova_UI_4', 'DDG_ProximaNova_UI_5', 'DDG_ProximaNova_UI_6',
  'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Nimbus Sans L',
  'Liberation Sans', 'Open Sans', FreeSans, Arial, sans-serif;

// $border-radius-root: 12px;
// $font-size-root: 14px;
